<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='./style.css' />
  <title><%= username %>'s Feed</title>
</head>
<body>
  <%- include('header', {title:'Your Feed', my_communities: my_communities}) %>
  <% if(posts) for(var p of posts) {%>
  <div class='content'>
    <div class='container'>
      <table>
        <tr>
          <h4><%= p.username %> @ <%= p.belongs_in %></h4>
        </tr>
        <tr>
          <% if(p.image_content) {%>
          <td><img id='pic' width='150px' height='200px' src='[Path to Source]' alt='[Image Content]' /></td>
          <% } %>
          <td id='info-cell'>
            <h1 id='name'><u><%= p.title %></u></h1>
            <p id='text'><%= p.text_content %></p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <% } %>

  <footer>
    <div class='container'>
      <h5>Contact Us:</h5>
      <ul id='contact-list'>
        <li><h6>Email: example@email-server.com</h6></li>
        <li><h6>Phone: (012)-345-6789</h6></li>
      </ul>
    </div>
  </footer>
</body>
</html>
